@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montez&family=Poppins:wght@400;600&family=Tilt+Prism&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .body {
  background: black;
} */


/* Dark Mode Toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    left: 2%;
    bottom: 3%;
  }
  
  .theme-switch-wrapper span {
    color: #808191;
    margin-right: 10px;
    font-size: 1rem;
  }

  .world {
    margin-left: 6px;
    position: relative;
    top: 3px;
    z-index: 200;
    cursor: pointer;
  }

  .world2 {
    margin-left: 20px;
    position: absolute;
    top: 3px;
    right: -5px;
    z-index: 200;
    cursor: pointer;
  }
  
  .theme-switch {
    display: inline-block;
    bottom: 3px;
    height: 28px;
    position: relative;
    width: 55px;
}

.theme-switch input {
    display: none;
}

.slider {
    background: #353945;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider::before {
    background: #3772FF;
    bottom: 4px;
    content: "";
    height: 20px;
    right: 4px;
    position: absolute;
    z-index: 300;
    transition: 0.4s;
    width: 20px;
}

input:checked + .slider {
    background: #353945
}

input:checked + .slider::before {
    transform: translateX(-26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}


/* main section styling */

.main-component {
  width: 75%;
  margin-left: 25%;
  margin-top: 3.3%;
  background: #000000;
  color: white;
  transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
  position: relative;
  z-index: 700;
  border-left: 1px solid #242731;
}

.main-component-occupy {
  width: 100%;
  margin-left: 0%;
  margin-top: 3.3%;
  background: #000000;
  color: white;
  transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
  position: relative;
  z-index: 700;
  border-left: 1px solid #242731;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid #242731;
  position: relative;
}

.main-nav-text {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 4%;
  border-bottom: 2px solid #3772FF;
}

/* .e-wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 24%;
  background: #191B20;
  padding: 10px;
  border-radius: 5px;
} */

.e-trf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-trf span {
  margin-left: 10px;
}

.tier {
  background: #A3E3FF;
  color: #3772FF;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* todo component */

.todo-fragment {
  display: flex;
}

.todo-component {
  position: relative;
  display: flex;
  padding: 5% 4.5% 0% 4.5%;
  font-family: Inter;
}

.todo-component input {
  border: none;
  outline: none;
  color: white;
}

.todolist-components {
  width: 70%;
}


.todo-list {
  background: #242731;
  border-radius: 7px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  color: white;
}

.todo-pack {
  width: 33%;
  margin: 0 1.5% 0 0;
  word-wrap: break-word;
  position: relative;
}

.plus {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #353945;
  padding: 3px 5px;
  border-radius: 50%;
  cursor: pointer;
}

.plus-todo {
  position: absolute;
  right: 3%;
  top: 5%;
  background: #353945;
  padding: 3px 5px;
  border-radius: 50%;
  cursor: pointer;
}

.oval {
  position: absolute;
  right: 3%;
  top: 5%;
  cursor: pointer;
}

.add-todo {
  display: flex;
}

.describe-todo {
  background: #191B20;
  padding: 15px 8px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-todo input {
  width: 70%;
  background: none;
  padding-left: 5px;
  font-family: Poppins;
  color:white;
}

.todo-one {
  padding-left: 5px;
  font-family: Poppins;
  color:white;
  font-size: 12px;
  word-break: break-all;
}

.describe {
  width: 100%;
  background: none;
  font-family: Poppins;
  color:#808191;
  font-size: 10px;
}

.add-todo input::placeholder {
  color: #6E6E6E;
}

.describe::placeholder {
  color: #808191;
}
