@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montez&family=Poppins:wght@400;600&family=Tilt+Prism&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5.7vh;
  background: #3772FF;
  color: white;
  font-size: 14px;
  font-family: Poppins;
}

.flex {
  display: flex;
}


/* sidebar styling */

.side-bar {
  width: 25%;
  height: 94.3vh;
  border-right: 1px solid #242731;
  background: #000000;
  color: white;
  position: relative;
}


.initials {
  background: #3772FF;
  padding: 3px 7px;
  margin-right: 8px;
  font-size: 15px;
  border-radius: 50%;
}

.slide {
  cursor: pointer;
}

.top-side-bar {
  width: 100%;
  height: 7vh;
  padding: 25px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-only {
  display: flex;
  align-items: center;
}

.username {
  font-size: 20px;
}


/* sidebar menu styling */
.home {
  padding: 10px 13px;
  display: flex;
  align-items: center;
  color: #848484;;
  cursor: pointer;
  margin: 2px 12% 2px 5%;
  border-radius: 12px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.home:hover {
  background: #353945;
  color: white;
  mix-blend-mode: normal;
  border-radius: 12px;
}

.home-text {
  font-family: Inter;
  padding-left: 15px;
  font-size: 14px;
}

/* Buy component */
.buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    left: 2%;
    bottom: 12%;
    width: 19%;
    font-family: Inter;
}

.user-buy {
  display: flex;
  align-items: center;
  background: #353945;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.buy button {
  background: #A3E3FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: #3772FF;
  padding: 7px 13px;
  border-radius: 5px;
  cursor: pointer;
}

.initial {
  background: #3772FF;
  padding: 2px 5px;
  margin-right: 8px;
  font-size: 10px;
  border-radius: 50%;
}




/* Dark Mode Toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    left: 2%;
    bottom: 3%;
  }
  
  .theme-switch-wrapper span {
    color: #808191;
    margin-right: 10px;
    font-size: 1rem;
  }

  .world {
    margin-left: 6px;
    position: relative;
    top: 3px;
    z-index: 200;
    cursor: pointer;
  }
  
  .theme-switch {
    display: inline-block;
    bottom: 3px;
    height: 28px;
    position: relative;
    width: 55px;
}

.theme-switch input {
    display: none;
}

.slider {
    background: #808191;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider::before {
    background: #3772FF;
    bottom: 4px;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    z-index: 300;
    transition: 0.4s;
    width: 20px;
}

input:checked + .slider {
    background: #353945;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}


/* main section styling */

.main-component {
  width: 80%;
  background: #000000;
  color: white;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid #242731;
  position: relative;
}

.main-nav-text {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 4%;
  border-bottom: 2px solid #3772FF;
}

.e-wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22%;
  background: #191B20;
  padding: 10px;
  border-radius: 5px;
}

.e-trf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-trf span {
  margin-left: 10px;
}

.tier {
  background: #A3E3FF;
  color: #3772FF;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 5px;
}

/* todo component */

.todo-fragment {
  display: flex;
}

.todo-component {
  position: relative;
  display: flex;
  padding: 5% 4.5% 0% 4.5%;
  font-family: Inter;
}

.todo-component input {
  border: none;
  outline: none;
  color: white;
}

.todolist-components {
  border-right: 3px solid #242731;
  width: 70%;
  height: 84vh;
}

.edit {
  width: 30%;
  padding: 17px 18px;
}

.edit :nth-child(1) {
  font-size: 12px;
  padding-right: 8px;
  color: #808191;
}

.edit :nth-child(2) {
  font-size: 15px;
}

.todo-list {
  background: #242731;
  border-radius: 7px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
}

.todo-pack {
  width: 33%;
  margin: 0 1.5% 0 0;
  word-wrap: break-word;
  position: relative;
}

.plus {
  position: absolute;
  right: 3%;
  top: 2%;
  background: #353945;
  padding: 3px 5px;
  border-radius: 50%;
  cursor: pointer;
}